<a
        mat-button
        class="flex justify-start p-8 w-full hover:bg-white"
        [disableRipple]="true"
        [matMenuTriggerFor]="userActions">
        <div class="flex gap-2 -mx-5">
            <div class="bg-blue-100 flex items-center justify-center round rounded-lg w-14">
                <img
                class="w-5 h-5"
                src="/assets/icons/hub.svg"
                alt="User avatar">

            </div>
            <div class="flex w-full justify-between min-w-30">

                <div class="flex flex-col justify-center ">
                    <div class="w-full whitespace-nowrap text-right text-lg text-ellipsis overflow-hidden leading-normal ">
                     فرع الرياض
                    </div>
                    <div class="w-full text-sm mt-0.5 whitespace-nowrap text-ellipsis overflow-hidden text-center leading-normal font-medium text-secondary">
                    اختر اكتر من 20 فرع
                    </div>
                </div>
                <div class="flex items-center">

                    <mat-icon class="mat-18">
                        keyboard_arrow_down
                    </mat-icon>
                </div>
            </div>
        </div>
        </a>



    <mat-menu
    [xPosition]="'before'"
    #userActions="matMenu">

    <button mat-menu-item>
        <span>فرع الرياض</span>
    </button>
    <mat-divider class="my-2"></mat-divider>
    <button mat-menu-item>
        <span>فرع دمام</span>
    </button>
    <mat-divider class="my-2"></mat-divider>
    <button mat-menu-item>
        <span>فرع جده</span>
    </button>

</mat-menu>
